#board {
    display: grid;
    grid-template-columns: repeat(10, 65px);
    grid-template-rows: repeat(10, 65px);
    width: 650px;
    height: 650px;
    background-color: blue;
}

#board .space {
    width: 65px;
    height: 65px;
}

#board .start-space {
    background-color: rgb(66, 209, 0);
}

#board .end-space {
    background-color: #000000;
}

#board .blank-space {
    background-color: #525c47;
}

#board .speeder-space {
    background-color: #7c74e4;
}

#board .lava-space {
    background-color: #e6bc03;
}

#board .mud-space {
    background-color: #8b3b05;
}