#game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    padding: 10px;
} 

#game-status {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    padding: 5%;
}

#stats {
    margin-bottom: 20px;
    
}

button {
    margin-bottom: 10px;
    padding: 5%;
}

#board {
    display: grid;
    grid-template-columns: repeat(50, 14px);
    grid-template-rows: repeat(50, 14px);
    width: 700px;
    height: 700px;
    outline: 2px solid black;
    justify-content: right;
}

#board .space {
    width: 14px;
    height: 14px;
}

#board .start-space {
    background-color: black;
}

#board .end-space {
    background-color: black;
}

#board .blank-space {
    background-color: #E7D08B;
}

#board .speeder-space {
    background-color: #a39dff;
}

#board .lava-space {
    background-color: #E06161;
}

#board .mud-space {
    background-color: #C98251;
}

#board .player-space {
    background-color: blue;
}

#board .visited-space {
    background-color: black;
}

.game-won {
    text-align: center;
    color: green;
}

.game-over {
    text-align: center;
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* ensure it appears on top of other content */
}

.message-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10000; /* ensure it appears on top of the overlay */
}